.about-container {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    padding: 20px;
    gap: 2rem;
  }
  
  .about-content-left, .about-content-right {
    text-align: left;
    max-width: 600px;
  }
  
  .about-content-left img {
    max-width: 100%;
    height: auto;
  }
  
  .about-content h1 {
    font-size: 36px;
    color: #000;
  }
  
  .about-content p {
    color: #999;
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .information-container {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
  }
  
  .information-container ul {
    padding: 0;
    list-style: none;
  }
  
  .information-container li {
    margin-bottom: 10px;
  }
  
  .information-container .tags li {
    color:#40916c;
    font-weight: bold;
  }
  
  .information-container .tags-info li {
    color: #666;
  }
  
  @media only screen and (max-width: 1200px) {
    .about-container {
      display: flex;
      flex-direction: column;
      text-align: center;
    }
    
    .about-content-left {
      padding-right: 0;
      margin-bottom: 2rem;
    }
  
    .information-container ul {
      text-align: left;
      margin: 0 auto;
    }
  }