.bj-body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:white;
    background:green;
    text-align:center;
    font-weight:bold;
    height:100vh;
}

.Title-B{
    color:goldenrod;
    font-size:40px;
    margin-top: 0;
}

#message-el{
    font-size:30px;
    font-weight:800;
    padding:20px;
}

button{
    font-size:20px;
    color:#016f32;
    border:none;
    height:35px;
    width:150px;
    background:goldenrod;
    border-radius:2px;
    margin:0 10px 5px;
    cursor:pointer;
}