.a-MyWeb {
    color: rgb(45, 152, 45);
    text-decoration: none;
}

.a-MyWeb:hover {
    color: rgb(48, 110, 48);
    transition: 0.2s ease;
}

.MyWebsiteBody {
    margin: 0px;
}

.MyWebH1 {
    color: rgb(48, 110, 48);
    text-align: center;
}

.MyWebH2 {
    color: rgb(60, 195, 60);
    text-align: center;
}

.MyWebH3 {
    color: rgb(60, 195, 60);
    text-align: center;
}

.MyWebHeader {
    background-image: url("../images/header-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    height: 550px;
    margin: 0px;
    width: 100%;
}

.MyWebHeader .WebListItem {
    display: inline;
    list-style: none;
    padding: 0px 10px;
}

.MyWebHR {
    border-color: rgba(78, 72, 72, 0.2);
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    height: 3px;
    width: 10%;
}

.WebImage {
    display: block;
    margin: 0px auto;
}

.main {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.MyWebP {
    text-align: center;
    color: rgb(69, 55, 55); /* Adjusted color for visibility */
}

.WebTable {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.WebTableRow {
    display: flex;
    width: 100%;
}

.WebTableCell {
    flex: 1;
    padding: 10px;
}

.WebList {
    float: right;
}

.WebList .WebListItem {
    display: inline;
    padding: 10px;
}

.MyWebFooter {
    background-color: rgb(86, 193, 86);
    color: white;
    margin: 0px;
    width: 100%;
}

.about-me-container {
    display: flex;
    width: 100%;
}

.about-me-contact {
    margin: 0px auto;
    width: 70%;
    text-align: center;
}

.about-me-introduction {
    text-align: center;
}

.current-page {
    position: relative;
    border-style: none;
    border-bottom-style: dotted;
    border-width: 10px;
    height: 3px;
    width: 1%; /*cannot work*/
    color: rgb(48, 110, 48);
}

.footer-content {
    cursor: pointer;
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0px 10px;
}

.footer-content .WebListItem:hover {
    color: rgb(48, 110, 48);
    transition: 0.2s ease;
}

.message-me-content {
    background-color: rgb(48, 110, 48);
    border-radius: 10px;
    padding: 15px;
    margin: 20px auto;
    width: 20%;
    text-align: center;
}

.message-me-content:hover {
    background-color: rgb(38, 85, 38);
    transition: 0.25s;
}

.my-skills {
    margin: 0px auto;
    width: 50%;
}

.table-header {
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0px;
    width: 60%;
}

.header-content {
    text-align: center;
    margin: 100px 0px 0px;
}

.navbar-links {
    text-align: center;
}

#navbar-drop-animation {
    position: relative;
    display: block;
    transition: top 0.3s;
}
